<div class="fondo-modal oculto animated fadeIn fast" [class.oculto]="modalService.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Cargar cameo</h4>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <h3>Seleccione el cameo</h3>
                    <input type="file" class="inputfile" id="file" accept="video/*" (change)="subirVideo($event)">
                    <label for="file">Subir video</label>
                    <div class="progress m-t-20" *ngIf="isLoading">
                        <div class="progress-bar bg-primary progress-bar-striped active" style="height:10px;"
                            role="progressbar" [style.width]="(uploadPercent | async) + '%'"> </div>
                        
                    </div>
                    <h6 *ngIf="isLoading" class="text-center mt-5"> {{uploadPercent |async|number:'1.0-0'}}% </h6>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-default"
                        data-dismiss="modal">Cancelar</button>
                    <!-- <button  type="button" class="btn btn-primary" (click)="cargarCameo()" disabled>Cargar cameo</button> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>